<ml:{{_action.delta-type}} objectType="{{_collection}}" objectId="{{_id}}">
    {{#was}}
    <ml:was id="{{_previous_version}}">
        <mlb:{{featureRootTag}}>
           {{{.}}}
        </mlb:{{featureRootTag}}>
    </ml:was>
    {{/was}}
    {{#wordt}}
    <ml:wordt id="{{_version}}">
        <mlb:{{featureRootTag}}>
           {{{.}}}
        </mlb:{{featureRootTag}}>
    </ml:wordt>
    {{/wordt}}
</ml:{{_action.delta-type}}>